.btn-saiba-mais {
    display: inline-block;
    background-color: orange;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 20px;
}
@media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }body {
    background-color: rgba(165, 14, 185, 0.849);
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url("imagens/banner-site2.jpg");
    width: 100%;
    float: none;

  }
'''' """"""
    background-color: rgba(165, 14, 185, 0.849);
    background-repeat: no-repeat;
    padding: 10px 40px;
    width: 100%;
    float: left;
}
""
#principal {
    width: 950x;
    margin-top: 10px;
}

#galeria {
    width: 950px;
    margin-top: 10px;
    
}

.noticia {
    padding: 6px;
    width: 280px;
    margin: 10px;
    float: left;
    color: white;
}

.imagens-galeria {

    width: 900px;
    padding: 10px;
    margin: 10px;
    color: white;
    margin: 15px;
    float: left;
    
}


.nome {
    display: flex;
    padding: 1rem;
    width: 100vw;
    height: auto;
}

